
<html>
    <head>
        <title>4pepega</title>
        
        <link rel="weed" href="{{url_for('static',filename='images/weed.png')}}">

        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/homepage.css')}}">
       
    </head>

    <body bgcolor="	#ffe6e6">
        
        <p class="logo">4pepega</p>
        <marquee style="z-index:2 ;text-align:left   ;left:31  ;top:19  ;font-family:Cursive ;font-size:15pt ;color:#660033 ;height:15  ;"scrollamount="1" direction="down"  onmouseover="this.stop()" onmouseout="this.start()"><a href="https://www.youtube.com/watch?v=xRFXjPwGc9E" rel="noopener noreferrer" target="_blank" >You're finally awake</a></marquee>
        <marquee style="z-index:2 ;text-align:right  ;left:31  ;top:19  ;font-family:Cursive ;font-size:15pt ;color:greenyellow	;height:15  ;"scrollamount="1" direction="down"  onmouseover="this.stop()" onmouseout="this.start()"><a href="https://www.youtube.com/watch?v=DJfg39WkMvE" rel="gay" target="_blank" >Need Some Coffee or Weed?</a></marquee>
        <marquee style="z-index:2 ;text-align:right  ;left:4   ;top:30  ;font-family:Cursive ;font-size:15pt ;color:#660033 ;height:15  ;"scrollamount="2" direction="down">Who are you?</marquee>
        <marquee style="z-index:2 ;text-align:left   ;left:30  ;top:47  ;font-family:Cursive ;font-size:15pt ;color:darkblue;height:15  ;"scrollamount="3" direction="down">Where am I?</marquee>
        <marquee style="z-index:2 ;text-align:left   ;left:15  ;top:61  ;font-family:Cursive ;font-size:15pt ;color:black   ;height:12  ;"scrollamount="2" direction="down" >Hello There!</marquee>
        <marquee style="z-index:2 ;text-align:right  ;right:30 ;top:12  ;font-family:Cursive ;font-size:15pt ;color:#0099ff ;height:12  ;"scrollamount="3" direction="down">Feel weird man?</marquee>
        <marquee style="z-index:2 ;text-align:left   ;left:30  ;top:30  ;font-family:Cursive ;font-size:15pt ;color:#009900 ;height:15  ;"scrollamount="2" direction="down" onmouseover="this.stop()" onmouseout="this.start()" ><a href="https://www.youtube.com/watch?v=bqwL58xjIAg" rel="noopener noreferrer" target="_blank" >We support gay but we not gay bj4</a></marquee>
        <marquee style="z-index:2 ;text-align:right  ;right:4  ;top:30  ;font-family:Cursive ;font-size:15pt ;color:#660033 ;height:15  ;"scrollamount="2" direction="down" onmouseover="this.stop()" onmouseout="this.start()"><a href="https://www.youtube.com/watch?v=Q75uUPVOctg" rel="noopener noreferrer" target="_blank">Minecraft??</a></marquee>

        

        <div class="box-bar" >
            <h2><font color="white">What is 4pepega?</font></h2>
        </div>
        <div class="box-content">
            <h3><font color="red">4pepega is dank meme forum for those who lost da waey and here is the place who let them jump into the internet dankest meme.Feel free to jump in! </font></h3>
        </div>

        <div class="box-bar2" >
            <h2><font color=#bf8040 >Board</font></h2>
        </div>

        <div class="box-bar">
            <div class="column">
                <h2 style="text-decoration:underline ;display:inline ;color:darkred ;" >Meme</h2>
                <ul>
                    <li><a href="{{url_for('forum')}}"class="board">Meme Forum</a></li>
                </ul>
            </div>
        </div>

    </body>
</html>